/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    
}

main {
    height: calc(100vh - 150px);
}



/* header */


header a {
    margin: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 35px;
}

/* main */


.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.utente {
    width: calc(100% / 6);
    height: 250px;
    border: 4px solid black;
    position: relative;
}

.utente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.utente span {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #222222;
}

footer img{
    display: block;
}

footer span{
    display: block;
    padding: 5px 0 0;
}





.sin {
    display: flex;
    
    
}

.mid {
    display: flex;
    justify-content: center;
}

.des {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #4a4a4a;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    height: 100%;
    justify-content: center;
}

.grosso {
    height: 60%;
    filter: invert();
}

.piccolo {
    width: 10px;
    height: 15px;
    filter: invert();
    
}

.freccetta {
    justify-content: center;
    align-items: center;
    
}

#verde {
    filter: invert(0);
}

#ultimo {
    color: red;
}
